@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
/* # Обнуление css */


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height:100%;
}
.main{
	flex: 1 1 auto;
}

/*--------------------*/
[class*="__container"]{
	max-width: 1220px;    
	margin: 0px auto;
}

/* header */
.header {
}
.header__container {
}
.header_logo {
	margin: 77px 0px 0px 0px;
}
.header_menu {
	
}
.menu__list {
	display: flex;
	justify-content: flex-end;
	
}
.menu__item {
	font-size: 13;
	font-family: Mulish;
	font-weight: bold;
	margin: -25px 0px 0px 41px;
}
.menu__link {
	
	color: #1F1534;
}
@media (max-width:1250px) {
	.header_logo{
		padding: 0px 20px;
	}
	.header_menu{
		padding: 0px 20px;;
	}
	
}
@media (max-width:641px) {
	.header_logo{
		display: flex	;
		justify-content: center;
		
	}
	.header_menu{
		display: flex	;
		justify-content: center;
		padding: 0px 7px;;
	}
	.menu__item{
		justify-content: center;
		margin: 20px 0px 0px  15px;
	}
}
/* 				main                */

.main {
}
.main__container {
}
.main_text {
	
	
	position: absolute;
	margin: 90px 0px 0px 0px;
}
.main_title {
	font-size: 48px;
	font-family: Mulish;
	font-weight: bold;
	line-height: 56px;
}
.upper_title {
	color: #7D7987;
	font-family: Mulish;
	font-weight: 300;
	font-size: 21px;
	margin: 57px 0px 0px 0px;
}
.main_image {
	display: flex;	
	justify-content: flex-end;
	margin: 50px 0px 0px 0px;
}
@media (max-width:1250px) {
	.main_text{
		padding: 0px 20px;
		z-index:50;
	
	}
	.main_title{
			font-size: 24px;
	}
	.main_image{
	position: absolute;
	z-index:0;
		width: 250px;
		height: 200px;
		left: 25%;
	}
	
}	